{% extends 'base.html.twig' %}
{% block title %} Inscription {% endblock %}
{% block js %} <script defer type="text/javascript" src="{{ asset("js/checkCode.js") }}"></script> {% endblock %}
{% block body %}
<main>
    <div class="form-inscription">
        {{ form_start(form, {'attr': {'class': 'utilisateur-form'}}) }}

        <fieldset>
            <legend>Inscription</legend>
            <div class="form-input">
                {{ form_label(form.login) }}
                {{ form_widget(form.login) }}
            </div>

            <div class="form-input">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-input">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                {{ form_help(form.plainPassword) }}
            </div>

            <div class="form-input">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, {'attr': {'class': 'utilisateur-code'}}) }}
                <span id="code-status"></span>
            </div>

            <div class="form-input">
                {{ form_label(form.visible) }}
                {{ form_widget(form.visible) }}
            </div>

            {{ form_widget(form.inscription, {'label':'S\'inscrire', 'attr': {'class': 'basic-form-submit'}}) }}

        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}