{% extends 'base.html.twig' %}
{% block title %} Profil {% endblock %}
{% block body %}
    <main>
        <h2>Profil de {{ utilisateur.login }}</h2>
        {% if utilisateur.visible %}
            <p style="color: green">visible</p>
        {% else %}
            <p style="color: red">masqué</p>
        {% endif %}
        <p>Dernière connexion: {{ utilisateur.lastConnexion }}</p>
        <p>Dernière modification du profil: {{ utilisateur.lastModification }}</p>
        <p>Login: {{ utilisateur.login }}</p>
        <p>Email: {{ utilisateur.email }}</p>
        <p>Prénom: {{ utilisateur.firstName }}</p>
        <p>Nom: {{ utilisateur.name }}</p>
        <p>Numéro de téléphone: {{ utilisateur.phone }}</p>
        <p>Nationalitées: {{ utilisateur.nationality }}</p>
        <p>LinkedIn: {{ utilisateur.linkedin }}</p>
        <p>Profession: {{ utilisateur.profession }}</p>
        <p>Languages parlées: {{ utilisateur.spokenLanguages }}</p>
    </main>
{% endblock %}