<div class="utilisateur_presentation">
    <div style=" align-items: center">
        <p>{{ user.login|capitalize }}</p>
        {% if user.nationality is not null %}
            <img class="flag" src="https://flagcdn.com/48x36/{{ user.nationality|lower }}.png"
                 alt="flag of {{ user.nationality }}"/>
        {% endif %}
    </div>
    <div>

        {% if  user.name is not null and user.firstName is not null %}
            <p>{{ user.firstName|capitalize }} {{ user.name|capitalize }} </p>
        {% else %}
            <p class="nr">Non Renseigné </p>
        {% endif %}

    </div>
    <div class="infos_annexe_user">

        <img src="{{ asset("img/mallette.png") }}" alt="profession"/>
        {% if user.profession is not null %}
            <p>{{ user.profession|capitalize }}</p>
        {% else %}
            <p class="nr">Non Renseigné </p>
        {% endif %}
    </div>
    <div class="infos_annexe_user">
        <img src="{{ asset('img/mail.png') }}" alt="email"/>
        <p>{{ user.email }}</p>
    </div>

    <div class="infos_annexe_user" id="linkedin">
        <img src="{{ asset("img/linkedin.png") }}" alt="linkedin"/>
        {% if user.linkedin is not null %}
            <p> {{ user.linkedin }}</p>
        {% else %}
            <p class="nr">Non Renseigné </p>
        {% endif %}
    </div>

</div>
