<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" >
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flash_message.css') }}"/>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {# {% block importmap %}{{ importmap('app') }}{% endblock %}#}
    {% endblock %}
</head>
<header>

    <nav>
        <div id="iconAnnuaire">
            <img src="{{ asset('img/annuaire_icon.png') }}" alt="A"/>
            <p>Annuaire</p>
        </div>
        <div id="navigation">
            <a href="{{ path('listeUtilisateurs') }}" {% if page_name is not null and page_name is same as "userList" %}class="underlined" {% endif %}> Liste des Profils </a>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('profil', { code: app.user.code}) }}" {% if page_name is not null and page_name is same as "profilUser" %}class="underlined" {% endif %} > Mon profil</a>
            {% endif %}
        </div>

        {% if not is_granted('ROLE_USER') %}
            <div class="connexion">
            <a href="{{ path('register') }}">Inscription</a>
            <a href="{{ path("register") }}">Connexion</a>
            </div>
        {% else %}
        <div class="connexion">
            <form id="deconnexion" method="post" action="{{ path("_logout_main") }}">
                <button>Déconnexion</button>
            </form>
        </div>
        {% endif %}
    </nav>


</header>
<div id="flashes-container">
    {% for flashMsg in app.flashes("success") %}

        <span class="flashes flashes-success">  <img src="{{ asset('img/verif.png') }}"/> {{ flashMsg }}</span>
    {% endfor %}
    {% for flashMsg in app.flashes("error") %}

        <span class="flashes flashes-error"> <img src="{{ asset('img/croix.png') }}"/> {{ flashMsg }}</span>
    {% endfor %}
</div>
<body>
{% block body %}{% endblock %}
</body>

</html>

